$fuenteSerif: 'Playfair Display', serif;
$fuenteSansSerif: "Lato", sans-serif;

* {
    font-family: $fuenteSerif;
}

/* Mapa */

.form-group label{
    font-family: $fuenteSansSerif;
}

.escudosMapa {
    height: 2.2em;
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .40));
    display: none;
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .40));
    &:hover {
        height: 5em;
        transition-duration: 500ms;
        z-index: 1000 !important;
    }
}

/* Contenedor Secciones Gral*/

.ConteinerText {
    padding-right: 2.3em;

    p {
        font-family: $fuenteSansSerif;
    }

    @media (max-width: 990px) {
        padding: 0.5em 1em 0em 1em;

    }
}

.seccionTitle {
    font-size: 3em;

    @media (max-width: 990px) {
        font-size: 2em;
        padding-top: 0.2em;
    }
}


//Mapa//

#map {
    width: 100%;
}

//Navbar//

.linktraductor {
    color: white;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: rgb(184, 184, 184)
    }
}

nav .offcanvas li a {
    text-transform: uppercase;
    text-align: end;
    font-size: 1.2em;
}

// Sobre Coleccion //

.sobreColeccionContImg {
    background-image: url(../img/crowd.jpg);
    background-position: center;
    background-size: cover;
}

.headerSobreColeccion {
    @extend .sobreColeccionContImg;
    opacity: 0.5;
    height: 5em;
}


// Listado //

.listadoImg {
    @extend .sobreColeccionContImg;
    background-image: url(../img/crowd2.webp);
}

.headerlistado {
    @extend .headerSobreColeccion;
    background-image: url(../img/crowd2.webp);
}

.accordion-item h2 {
    font-family: $fuenteSansSerif;
}

.accordion-button {
    &:not(.collapsed) {
        color: #000000;
        background-color: #ebebeb;
    }

    &:focus {
        border-color: transparent;
    }
}

// Contacto //
.ContactoImg {
    @extend .sobreColeccionContImg;
    background-image: url(../img/crowd3.jpg);
}

.headerContacto {
    @extend .headerSobreColeccion;
    background-image: url(../img/crowd3.jpg);
}