* {
    font-family: 'Playfair Display', serif;
}

#map {
    width: 100%;
}

.sobreColeccionCont p {
    font-family: "Lato", sans-serif;
}

.sobreColeccionContImg {
    background-image: url(img/crowd.jpg);
    background-position: center;
    background-size: cover;
}

#accordionListado div img {
    border: none;
}

.galeriaCont .tituloBufanda {
    padding-top: 1.5em;
}

.subtituloBufanda {
    font-family: "Lato", sans-serif;
    font-size: 1em;
    color: grey;
    font-weight: 300;
}

.imgPrimaria{
    max-height: 500px;
}

.infoCont{
    padding-top: 2em;
}

.imgSecundarias {
    max-width: 250px;
    padding: 0.5em;
}

.infoClub{
    font-family: "Lato", sans-serif;
    font-size: 0.7em;
    text-align: justify;
}

.infoBufanda{
    font-weight: 500;
}